<div id="nav">
  <a style="font-family:'IBM Plex Mono'" href="{{site.url}}{{site.baseurl}}/">todos</a> ·
  <a style="font-family:'IBM Plex Mono'" href="{{site.url}}{{site.baseurl}}/categories/conjunto-1/">Conjunto 1</a> ·
  <a style="font-family:'IBM Plex Mono'" href="{{site.url}}{{site.baseurl}}/categories/conjunto-2/">Conjunto 2</a> ·
  <a style="font-family:'IBM Plex Mono'" href="{{site.url}}{{site.baseurl}}/categories/conjunto-3/">Conjunto 3</a> ·
  <a style="font-family:'IBM Plex Mono'" href="{{site.url}}{{site.baseurl}}/categories/conjunto-4/">Conjunto 4</a> ·
</div>
